<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    	<title>Title</title>

    	<link rel="shortcut icon" href="../img_beom/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/css/board/board_common.css">
	    <link rel="stylesheet" href="/css/board/board_management.css">

		<script type="text/javascript" src="/js/common.js"></script>
		<script src="/js/freeboard.js"></script>            

</head>

<body>

<!-- Header -->
<div class="Header">
    <th:block th:include="header :: commonHeader"></th:block>
</div>

<div class="sub-visual-wrap"></div>

<div class="sub-container">
    <div class="lnb-wrap">
        <div class="lnb">
            <div class="lnb-title-box">
                <div>
                    <h2>Page Title</h2>
                </div>
            </div>
            <ul class="lnb-menu">
                <li class="active"><a class="active" th:href="@{/}">메 뉴</a></li>
            </ul>
        </div>
    </div>
    <div class="content-wrap">
        <div class="tab"></div>
        <div class="content">
            <div class="co-board type2">
                <div class="bn-login01">
				
					<!-- Contents -->
			       <div class="section">
				        <div><!-- <div class="container"> -->
				        	<table>
								<tbody>
									<tr class="title-box label-tag">
										<td colspan="6" class="title-box" th:text="${contentTitle}">
										</td>
									</tr>
									<tr>
										<th scope="row">작성자</th>
										<td colspan="2" class="label-tag" th:text="${writerName}">
										</td>
										<th scope="row">첨부 파일</th>
										<td colspan="2" class="label-tag">
											<a th:href="@{#}" th:text="${fileName}"></a>
										</td>
									</tr>
									<tr>
										<td colspan="6" class="label-tag">
											<div class="content-box" th:text="${contentText}"></div>
										</td>
									</tr>
									<tr>
										<td colspan="6" class="label-tag">
											<!-- comment -->
											<div id="comment-count">
												댓글 <span id="count" th:text="${commentCount}">0</span>
											</div>
											<hr style="border-color: #c1bcba;" />
											<div id=comments>
												<div></div>
												<th:block th:each="comment : ${commentList}">
													<div class="eachComment" th:id="${comment.getId()}">
														<div class="name">
															<!-- <span th:text="${comment.getUserName() + ' (' + #dates.format(comment.getCreateDate(), 'yyyy-MM-dd') + ')'}"></span> -->
															<span th:text="${comment.getUserName()}"></span> <a
																th:onclick="|javascript:checkDeleteComment('${comment.getId()}')|"><span
																th:if="${#strings.equals(userName, comment.getUserName())}"
																class="remove-btn">&times;</span></a>
														</div>
														<div class="inputValue">
															<p th:text="${comment.getContent()}">댓글내용</p>
															<!-- <br /><br /> -->
															<p class="time-stamp"
																th:text="${'' + #dates.format(comment.getCreateDate(), 'yyyy-MM-dd')}"></p>
														</div>
													</div>
												</th:block>
											</div> <br />
											<div id="form-commentInfo">
												<!-- <form th:action="@{doWriteComment}" method="post" onsubmit="return checkContent();"> -->
												<input id="comment-input" type="text" placeholder="댓글을 입력해 주세요."
													name="comment_input"> <br /> <input type="submit"
													class="btn" value="등록" id="comment_submit"
													onclick="checkComment();">
											</div>
											<div class="right_button">
												<!-- <a th:href="@{/board/freeBoard/doDelete(contentId=${contentId})}" class="btn" style="background: none repeat scroll 0 0 #DA1111;">삭제</a> -->
												<input th:if="${#strings.equals(userName, writerName)}" type="button" id="delete-button" value="삭제" class="btn" style="background: none repeat scroll 0 0 #DA1111;" /> 
												<a th:if="${#strings.equals(userName, writerName)}" th:href="@{/board/freeBoard/modify(contentId=${contentId})}" class="btn">수정</a> 
												<a th:href="@{/board/freeBoard}" class="btn">목록 </a>
											</div>
										</td>
									</tr>
									<tr>
										<td colspan="6" class="label-tag">
											<div class="right_button">
												<!-- <a th:href="@{/board/freeBoard/doDelete(contentId=${contentId})}" class="btn" style="background: none repeat scroll 0 0 #DA1111;">삭제</a> -->
												<input th:if="${#strings.equals(userName, writerName)}" type="button" id="delete-button" value="삭제" class="btn" style="background: none repeat scroll 0 0 #DA1111;" /> 
												<a th:if="${#strings.equals(userName, writerName)}" th:href="@{/board/freeBoard/modify(contentId=${contentId})}" class="btn">수정</a> 
												<a th:href="@{/board/freeBoard}" class="btn">목록 </a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
				        </div>
				    </div>				
				
                </div>
            </div>
        </div>
    </div>
</div>


<footer>
    <th:block th:include="footer :: commonFooter"></th:block>
</footer> 
</body>
</html>